.blue{
    width:400px;
    height:600px;
    background-color:deepskyblue;
    padding:5px;
}

.yellow{
    text-align: center;
    width:390px;
    height:590px;
    background-color: yellow;
    border: 5px red dashed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#wanted{
    text-decoration: overline underline;
    font-size:40pt;
    
}

#a{
    width: 100px;
    height: 100px;
    border: 2px rgb(0, 0, 0) solid;
    object-fit: cover;
    margin: 35px 0px;
}

body{ 
    background-image: url("op.jpg");;
}
